*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}
::selection {
  background-color: #b3d4fc;
  color: #000;
  text-shadow: none;
}

body {
  font-family: Roboto, sans-serif;
  line-height: 1.5;
  font-size: 14px;
}

a {
  background: transparent;
  text-decoration: none;
  outline: none;
}

.spacer {
  flex: 1 1 auto;
}

.markdown-body {
  table {
    border-collapse: collapse;
    border-spacing: 0;
    text-align: left;
    width: 100%;
    overflow: auto;
    word-break: normal;
    word-break: keep-all;

    tr {
      background-color: #fff;
      border-top: 0.0625rem solid #ccc;
    }

    th,
    td {
      padding: 0.375rem 0.8125rem;
      border: 0.0625rem solid #ddd;
    }
  }
}
