/* stylelint-disable material/no-prefixes */
/* stylelint-enable */
/* stylelint-disable material/no-prefixes */
/* stylelint-enable */
.stbui-button, .stbui-icon-button, .stbui-stroked-button, .stbui-flat-button { box-sizing: border-box; position: relative; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; cursor: pointer; outline: none; border: none; -webkit-tap-highlight-color: transparent; display: inline-block; white-space: nowrap; text-decoration: none; vertical-align: baseline; text-align: center; margin: 0; min-width: 88px; line-height: 36px; padding: 0 16px; border-radius: 2px; overflow: visible; }

.stbui-button::-moz-focus-inner, .stbui-icon-button::-moz-focus-inner, .stbui-stroked-button::-moz-focus-inner, .stbui-flat-button::-moz-focus-inner { border: 0; }

.stbui-button[disabled], .stbui-icon-button[disabled], .stbui-stroked-button[disabled], .stbui-flat-button[disabled] { cursor: default; }

.stbui-button.cdk-keyboard-focused .stbui-button-focus-overlay, .stbui-button.cdk-program-focused .stbui-button-focus-overlay, .stbui-icon-button.cdk-keyboard-focused .stbui-button-focus-overlay, .stbui-icon-button.cdk-program-focused .stbui-button-focus-overlay, .stbui-stroked-button.cdk-keyboard-focused .stbui-button-focus-overlay, .stbui-stroked-button.cdk-program-focused .stbui-button-focus-overlay, .stbui-flat-button.cdk-keyboard-focused .stbui-button-focus-overlay, .stbui-flat-button.cdk-program-focused .stbui-button-focus-overlay { opacity: 1; }

.stbui-button::-moz-focus-inner, .stbui-icon-button::-moz-focus-inner, .stbui-stroked-button::-moz-focus-inner, .stbui-flat-button::-moz-focus-inner { border: 0; }

.stbui-button .stbui-button-focus-overlay, .stbui-icon-button .stbui-button-focus-overlay { transition: none; opacity: 0; }

.stbui-button:hover .stbui-button-focus-overlay, .stbui-stroked-button:hover .stbui-button-focus-overlay { opacity: 1; }

.stbui-raised-button { box-sizing: border-box; position: relative; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; cursor: pointer; outline: none; border: none; -webkit-tap-highlight-color: transparent; display: inline-block; white-space: nowrap; text-decoration: none; vertical-align: baseline; text-align: center; margin: 0; min-width: 88px; line-height: 36px; padding: 0 16px; border-radius: 2px; overflow: visible; transform: translate3d(0, 0, 0); transition: background 400ms cubic-bezier(0.25, 0.8, 0.25, 1), box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1); }

.stbui-raised-button::-moz-focus-inner { border: 0; }

.stbui-raised-button[disabled] { cursor: default; }

.stbui-raised-button.cdk-keyboard-focused .stbui-button-focus-overlay, .stbui-raised-button.cdk-program-focused .stbui-button-focus-overlay { opacity: 1; }

.stbui-raised-button::-moz-focus-inner { border: 0; }

.stbui-raised-button:not([class*='stbui-elevation-z']) { box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12); }

._mat-animation-noopable.stbui-raised-button { transition: none; animation: none; }

.stbui-raised-button:not([disabled]):active:not([class*='stbui-elevation-z']) { box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12); }

.stbui-raised-button[disabled] { box-shadow: none; }

.stbui-stroked-button { border: 1px solid currentColor; padding: 0 15px; line-height: 34px; }

.stbui-stroked-button:not([class*='stbui-elevation-z']) { box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12); }

.stbui-flat-button:not([class*='stbui-elevation-z']) { box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12); }

.stbui-fab { box-sizing: border-box; position: relative; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; cursor: pointer; outline: none; border: none; -webkit-tap-highlight-color: transparent; display: inline-block; white-space: nowrap; text-decoration: none; vertical-align: baseline; text-align: center; margin: 0; min-width: 88px; line-height: 36px; padding: 0 16px; border-radius: 2px; overflow: visible; transform: translate3d(0, 0, 0); transition: background 400ms cubic-bezier(0.25, 0.8, 0.25, 1), box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1); min-width: 0; border-radius: 50%; width: 56px; height: 56px; padding: 0; flex-shrink: 0; }

.stbui-fab::-moz-focus-inner { border: 0; }

.stbui-fab[disabled] { cursor: default; }

.stbui-fab.cdk-keyboard-focused .stbui-button-focus-overlay, .stbui-fab.cdk-program-focused .stbui-button-focus-overlay { opacity: 1; }

.stbui-fab::-moz-focus-inner { border: 0; }

.stbui-fab:not([class*='stbui-elevation-z']) { box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12); }

._mat-animation-noopable.stbui-fab { transition: none; animation: none; }

.stbui-fab:not([disabled]):active:not([class*='stbui-elevation-z']) { box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12); }

.stbui-fab[disabled] { box-shadow: none; }

.stbui-fab:not([class*='stbui-elevation-z']) { box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12); }

.stbui-fab:not([disabled]):active:not([class*='stbui-elevation-z']) { box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2), 0px 12px 17px 2px rgba(0, 0, 0, 0.14), 0px 5px 22px 4px rgba(0, 0, 0, 0.12); }

.stbui-fab .stbui-button-wrapper { padding: 16px 0; display: inline-block; line-height: 24px; }

.stbui-mini-fab { box-sizing: border-box; position: relative; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; cursor: pointer; outline: none; border: none; -webkit-tap-highlight-color: transparent; display: inline-block; white-space: nowrap; text-decoration: none; vertical-align: baseline; text-align: center; margin: 0; min-width: 88px; line-height: 36px; padding: 0 16px; border-radius: 2px; overflow: visible; transform: translate3d(0, 0, 0); transition: background 400ms cubic-bezier(0.25, 0.8, 0.25, 1), box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1); min-width: 0; border-radius: 50%; width: 40px; height: 40px; padding: 0; flex-shrink: 0; }

.stbui-mini-fab::-moz-focus-inner { border: 0; }

.stbui-mini-fab[disabled] { cursor: default; }

.stbui-mini-fab.cdk-keyboard-focused .stbui-button-focus-overlay, .stbui-mini-fab.cdk-program-focused .stbui-button-focus-overlay { opacity: 1; }

.stbui-mini-fab::-moz-focus-inner { border: 0; }

.stbui-mini-fab:not([class*='stbui-elevation-z']) { box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12); }

._mat-animation-noopable.stbui-mini-fab { transition: none; animation: none; }

.stbui-mini-fab:not([disabled]):active:not([class*='stbui-elevation-z']) { box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12); }

.stbui-mini-fab[disabled] { box-shadow: none; }

.stbui-mini-fab:not([class*='stbui-elevation-z']) { box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12); }

.stbui-mini-fab:not([disabled]):active:not([class*='stbui-elevation-z']) { box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2), 0px 12px 17px 2px rgba(0, 0, 0, 0.14), 0px 5px 22px 4px rgba(0, 0, 0, 0.12); }

.stbui-mini-fab .stbui-button-wrapper { padding: 8px 0; display: inline-block; line-height: 24px; }

.stbui-icon-button { padding: 0; min-width: 0; width: 40px; height: 40px; flex-shrink: 0; line-height: 40px; border-radius: 50%; }

.stbui-icon-button i, .stbui-icon-button .stbui-icon { line-height: 24px; }

.stbui-button-ripple, .stbui-button-focus-overlay { top: 0; left: 0; right: 0; bottom: 0; position: absolute; pointer-events: none; border-radius: inherit; }

.stbui-button-focus-overlay { background-color: rgba(0, 0, 0, 0.12); border-radius: inherit; opacity: 0; transition: opacity 200ms cubic-bezier(0.35, 0, 0.25, 1), background-color 200ms cubic-bezier(0.35, 0, 0.25, 1); }

._stbui-anistbuiion-noopable .stbui-button-focus-overlay { transition: none; }

.stbui-button-ripple-round { border-radius: 50%; z-index: 1; }

.stbui-button .stbui-button-wrapper > *, .stbui-flat-button .stbui-button-wrapper > *, .stbui-stroked-button .stbui-button-wrapper > *, .stbui-raised-button .stbui-button-wrapper > *, .stbui-icon-button .stbui-button-wrapper > *, .stbui-fab .stbui-button-wrapper > *, .stbui-mini-fab .stbui-button-wrapper > * { vertical-align: middle; }

.stbui-form-field:not(.stbui-form-field-appearance-legacy) .stbui-form-field-prefix .stbui-icon-button, .stbui-form-field:not(.stbui-form-field-appearance-legacy) .stbui-form-field-suffix .stbui-icon-button { display: block; font-size: inherit; width: 2.5em; height: 2.5em; }

.stbui-card { transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1); display: block; position: relative; padding: 24px; border-radius: 2px; }

.stbui-card:not([class*='stbui-elevation-z']) { box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12); }

.stbui-card .stbui-divider-horizontal { position: absolute; left: 0; width: 100%; }

[dir='rtl'] .stbui-card .stbui-divider-horizontal { left: auto; right: 0; }

.stbui-card .stbui-divider-horizontal.stbui-divider-inset { position: static; margin: 0; }

.stbui-card.stbui-card-flat { box-shadow: none; }

.stbui-card-title, .stbui-card-subtitle, .stbui-card-content, .stbui-card-actions { display: block; margin-bottom: 16px; }

.stbui-card-actions { margin-left: -16px; margin-right: -16px; padding: 8px 0; }

.stbui-card-actions-align-end { display: flex; justify-content: flex-end; }

.stbui-card-image { width: calc(100% + 48px); margin: 0 -24px 16px -24px; }

.stbui-card-xl-image { width: 240px; height: 240px; margin: -8px; }

.stbui-card-footer { display: block; margin: 0 -24px -24px -24px; }

.stbui-card-actions .stbui-button, .stbui-card-actions .stbui-raised-button { margin: 0 4px; }

.stbui-card-header { display: flex; flex-direction: row; }

.stbui-card-header-text { margin: 0 8px; }

.stbui-card-avatar { height: 40px; width: 40px; border-radius: 50%; flex-shrink: 0; }

.stbui-card-sm-image, .stbui-card-md-image, .stbui-card-lg-image { margin: -8px 0; }

.stbui-card-title-group { display: flex; justify-content: space-between; margin: 0 -8px; }

.stbui-card-sm-image { width: 80px; height: 80px; }

.stbui-card-md-image { width: 112px; height: 112px; }

.stbui-card-lg-image { width: 152px; height: 152px; }

@media (max-width: 599px) { .stbui-card { padding: 24px 16px; }
  .stbui-card-actions { margin-left: -8px; margin-right: -8px; }
  .stbui-card-image { width: calc(100% + 32px); margin: 16px -16px; }
  .stbui-card-title-group { margin: 0; }
  .stbui-card-xl-image { margin-left: 0; margin-right: 0; }
  .stbui-card-header { margin: -8px 0 0 0; }
  .stbui-card-footer { margin-left: -16px; margin-right: -16px; } }

.stbui-card > :first-child, .stbui-card-content > :first-child { margin-top: 0; }

.stbui-card > :last-child:not(.stbui-card-footer), .stbui-card-content > :last-child:not(.stbui-card-footer) { margin-bottom: 0; }

.stbui-card-image:first-child { margin-top: -24px; }

.stbui-card > .stbui-card-actions:last-child { margin-bottom: -16px; padding-bottom: 0; }

.stbui-card-actions .stbui-button:first-child, .stbui-card-actions .stbui-raised-button:first-child { margin-left: 0; margin-right: 0; }

.stbui-card-title:not(:first-child), .stbui-card-subtitle:not(:first-child) { margin-top: -4px; }

.stbui-card-header .stbui-card-subtitle:not(:first-child) { margin-top: -8px; }

.stbui-card > .stbui-card-xl-image:first-child { margin-top: -8px; }

.stbui-card > .stbui-card-xl-image:last-child { margin-bottom: -8px; }

.stbui-drawer { transition-duration: 0.3s; transition-property: transform; background: #fff; box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.4); }

.stbui-drawer-fixed { bottom: 0; position: fixed; top: 0; z-index: 10; width: 256px; transform: translate3d(-256px, 0, 0); }

.stbui-drawer-inline { display: inline-block; height: 100%; }

.stbui-drawer-left { left: 0; }

.stbui-drawer-right { right: 0; }

.stbui-drawer-active { transform: translate3d(0, 0, 0); }

.stbui-drawer-mini { z-index: 9; }

.stbui-toolbar { position: relative; display: flex; align-items: center; height: 64px; color: rgba(0, 0, 0, 0.87); background-color: #f5f5f5; padding: 0 16px; background-color: #1867c0; border-color: #1867c0; color: #fff; font-size: 20px; box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12); }

.stbui-list { list-style: none; padding: 8px 0; }

.stbui-list-item { user-select: none; }

.stbui-list-title { display: flex; align-items: center; padding-left: 16px; padding-right: 16px; text-decoration: none; transition-duration: 0.15s; height: 40px; color: #212121; }

.stbui-list-title:hover { text-decoration: none; background-color: rgba(0, 0, 0, 0.08); }

.stbui-divider { display: block; margin: 0; border-top-width: 1px; border-top-style: solid; border-top-color: rgba(0, 0, 0, 0.12); }

.stbui-divider.stbui-divider-vertical { border-top: 0; border-right-width: 1px; border-right-style: solid; }

.stbui-divider.stbui-divider-inset { margin-left: 80px; }

[dir='rtl'] .stbui-divider.stbui-divider-inset { margin-left: auto; margin-right: 80px; }

