@import 'button-base';

.stbui-button,
.stbui-icon-button,
.stbui-stroked-button,
.stbui-flat-button {
  @include stbui-button-base;
}

.stbui-button,
.stbui-icon-button {
  &:hover {
    background-color: rgba(black, 0.12);
    transition: $stbui-button-focus-transition;
  }
}

.stbui-raised-button {
  @include stbui-raised-button;
}

.stbui-stroked-button {
  @include stbui-overridable-elevation(0);

  border: 1px solid currentColor;
  padding: $stbui-stroked-button-padding;
  line-height: $stbui-stroked-button-line-height;
}

.stbui-flat-button {
  @include stbui-overridable-elevation(0);
}

.stbui-fab-button {
  @include stbui-fab($stbui-fab-size, $stbui-fab-padding);
}

.stbui-mini-fab-button {
  @include stbui-fab($stbui-mini-fab-size, $stbui-mini-fab-padding);
}

.stbui-icon-button {
  padding: 0;

  // Reset the min-width from the button base.
  min-width: 0;

  width: $stbui-icon-button-size;
  height: $stbui-icon-button-size;

  flex-shrink: 0;

  line-height: $stbui-icon-button-size;
  border-radius: $stbui-icon-button-border-radius;

  i,
  .stbui-icon {
    line-height: $stbui-icon-button-line-height;
  }
}

.stbui-button,
.stbui-flat-button,
.stbui-stroked-button,
.stbui-raised-button,
.stbui-icon-button,
.stbui-fab-button,
.stbui-mini-fab-button {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  font-size: 14px;
  font-weight: 500;
}

// primary
.stbui-button.stbui-button-primary {
  color: #3f51b5;
  &:hover {
    background-color: rgba(#3f51b5, 0.12);
  }
}

.stbui-raised-button.stbui-button-primary {
  color: #fff;
  background: #3f51b5;
}

.stbui-stroked-button.stbui-button-primary {
  color: #3f51b5;
}

.stbui-fab-button.stbui-button-primary {
  color: #fff;
  background: #3f51b5;
}

// accent
.stbui-button.stbui-button-accent {
  color: #ff4081;
  &:hover {
    background-color: rgba(#ff4081, 0.12);
  }
}

.stbui-raised-button.stbui-button-accent {
  color: #fff;
  background: #ff4081;
}

.stbui-stroked-button.stbui-button-accent {
  color: #ff4081;
}

.stbui-fab-button.stbui-button-accent {
  color: #fff;
  background: #ff4081;
}

// warn
.stbui-button.stbui-button-warn {
  color: #f44336;
  &:hover {
    background-color: rgba(#f44336, 0.12);
  }
}

.stbui-raised-button.stbui-button-warn {
  color: #fff;
  background: #f44336;
}

.stbui-stroked-button.stbui-button-warn {
  color: #f44336;
}

.stbui-fab-button.stbui-button-warn {
  color: #fff;
  background: #f44336;
}
