.stbui-toolbar { position: relative; display: flex; align-items: center; height: 64px; color: rgba(0, 0, 0, 0.87); background-color: #f5f5f5; padding: 0 16px; background-color: #1867c0; border-color: #1867c0; color: #fff; font-size: 20px; box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12); }

*, *:before, *:after { box-sizing: border-box; }

* { margin: 0; padding: 0; }

::selection { background-color: #b3d4fc; color: #000; text-shadow: none; }

body { font-family: Roboto, sans-serif; line-height: 1.5; font-size: 14px; }

a { background: transparent; text-decoration: none; outline: none; }

.spacer { flex: 1 1 auto; }

.header { position: relative; display: flex; align-items: center; height: 64px; color: rgba(0, 0, 0, 0.87); background-color: #f5f5f5; padding: 0 16px; background-color: #1867c0; border-color: #1867c0; color: #fff; font-size: 20px; box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12); }

